# OpenTofu
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*

# Kubeconfigs / outputs
kubeconfig*
kubeconfigs/
*.kubeconfig

# SSH / secrets
*.key
*.pem

# OS / editor
.DS_Store
.vscode/
.idea/
*.swp
*~

*.tar.gz
*.tar.zst
*.img
*.raw
~/
